<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target xsi:type="File" name="debugFile" fileName="C:\Code\TestMissionControl\TestMissionControl\CoinMasterAgent\bin\Debug\netcoreapp2.0\debug.txt" layout="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}" encoding="utf-8" />
    <target xsi:type="ColoredConsole" name="console"  layout="${longdate:universalTime=true} ${level:uppercase=true} ${message}" />
  </targets>

  <rules>
	  <logger name="*" minlevel="Trace" writeTo="debugFile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>